	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link th:href="@{/css/sanitize.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet" >
	<link th:href="@{/css/user/add.css}" rel="stylesheet" type="text/css">
	<script th:src="@{/webjars/jquery/jquery.min.js}"defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"defer></script>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	    	<span class="navbar-brand mb-0 h1">交通費申請書</span>
	    	<div class="collapse navbar-collapse" id="navbarNav">
		        <ul class="navbar-nav ml-auto">
					<li class="nav-item">
		                <a class="nav-link text-light" href="/rpc/list">交通費リスト</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link text-light" href="/logout">ログアウト</a>
		            </li>
		        </ul>
	    	</div>
	    </nav>
	    <div class="container mt-5">
		    <form method="post" th:action="@{/rpc/add}" th:object="${userAddForm}">
		        <div class="form">
		            <div class="col-md-8 mb-3 pl-5">
		                <label for="name" th:text="#{name}"></label>
		                <input type="text" th:field="*{name}" class="form-control" placeholder="名前" th:errorclass="is-invalid" />
						<div class="invalid-feedback"th:errors="*{name}"></div>
	                </div>
	    		</div>
	    		<div class="form">
		            <div class="col-md-8 mb-3 pl-5">
		                <label for="mail" th:text="#{mail}"></label>
		                <input type="email" th:field="*{mail}" class="form-control" placeholder="メールアドレス" th:errorclass="is-invalid" />
						<div class="invalid-feedback"th:errors="*{mail}"></div>
		            </div>
		        </div>
		        <div class="form">
		            <div class="col-md-8 mb-3 pl-5">
		                <label for="password" th:text="#{password}"></label>
		                <input type="password" th:field="*{password}" class="form-control" placeholder="パスワード" th:errorclass="is-invalid" />
						<div class="invalid-feedback"th:errors="*{password}"></div>
		            </div>
	            </div>
		        <div class="form pl-5">
	    			<button class="btn btn-primary" type="submit">登録</button>
	    		</div>
		    </form>
		</div>
	</body>
	
	</html>