<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:href="@{/css/sanitize.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet" >
<link th:href="@{/css/traffic/list.css}" rel="stylesheet" type="text/css">
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    	<span class="navbar-brand mb-0 h1">交通費申請書</span>
    	<div class="collapse navbar-collapse" id="navbarNav">
	        <ul class="navbar-nav ml-auto">
				<li class="nav-item">
	                <a class="nav-link text-light" href="/rpc/traffic/insert">交通費登録</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link text-light" href="/logout">ログアウト</a>
	            </li>
	        </ul>
    	</div>
    </nav>
	<div class="container mt-5">
	    <div class="row">
	        <div class="col-md-3 mt-5 ">
	            <form action="/rpc/traffic/list" method="get">
	                <label for="months">月を選択:</label>
	                <select id="months" name="month" class="form-control" onchange="this.form.submit()">
	                    <option value="1">1月</option>
	                    <option value="2">2月</option>
	                    <option value="3">3月</option>
	                    <option value="4">4月</option>
	                    <option value="5">5月</option>
	                    <option value="6">6月</option>
	                    <option value="7">7月</option>
	                    <option value="8">8月</option>
	                    <option value="9">9月</option>
	                    <option value="10">10月</option>
	                    <option value="11">11月</option>
	                    <option value="12">12月</option>
	                </select>
	            </form>
	        </div>
	    </div>
	</div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
							<th>日付</th>
                            <th>利用機関</th>
                            <th>利用区間</th>
                            <th>往復</th>
                            <th>料金</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody th:each="item : ${list}" th:object="${item}">
                        <tr>
							<td><span th:text="${#dates.format(item.useday, 'YYYY/MM/dd')}"></span></td>
							<td><span th:text="*{means}"></span></td>
							<td><span th:text="*{secter}"></span></td>
							<td>
								<span th:if="*{road=='1'}">片道</span>
								<span th:if="*{road=='2'}">往復</span>
							</td>
                            <td><span th:text="*{cost}"></span></td>
                            <td>
					            <form th:action="@{/rpc/traffic/detail/{id}(id=*{id})}" method="get">
					                <button type="submit" class="btn btn-primary">編集</button>
					            </form>
					        </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                	<p>合計： <span th:text="${total}"></span>円</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!--<span th:if="${road == 1}">片道</span>-->
<!--<span th:if="${road == 2}">往復</span>-->