<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.UserMapper">

	<resultMap id="userWithTraffic" type="com.example.entity.Users">
	    <id property="id" column="id" />
	    <result property="name" column="name" />
	    <!-- Usersエンティティの他のフィールドについても同様にマッピングを追加 -->
	
	    <!-- trafficListフィールドのカスタムマッピング -->
	    <collection property="trafficList" ofType="com.example.entity.Traffic">
	    	<id property="id" column="trafficid" />
	        <result property="userid" column="userid" />
	        <result property="useday" column="useday" />
	        <result property="means" column="means" />
	        <result property="secter" column="secter" />
	        <result property="road" column="road" />
	        <result property="cost" column="cost" />
	    </collection>
	</resultMap>

	<!-- ユーザーの登録 -->
	<insert id="userAdd">
		insert into USERS
			(name, password, mail, createDate)
		VALUES
			(#{name}, #{password}, #{mail}, CURRENT_TIMESTAMP)
	</insert>
	
	<!-- 社員一覧 -->
	<select id="userList" resultType="com.example.entity.Users">
		SELECT * FROM USERS
	</select>
	
	<!-- ユーザーごとの交通費 -->
	<select id="trafficList" parameterType="int" resultMap="userWithTraffic">
	    SELECT USERS.id, USERS.name, TRAFFIC.trafficid, TRAFFIC.userid,
       		   TRAFFIC.useday, TRAFFIC.means, TRAFFIC.secter, TRAFFIC.road, TRAFFIC.cost
		FROM USERS 
		LEFT JOIN TRAFFIC ON USERS.id = TRAFFIC.userid
		WHERE USERS.id = #{id}
	</select>
	
	<select id="findLoginUser" resultType="com.example.entity.Users">
		SELECT * FROM USERS WHERE mail = #{mail}
	</select>
	
	<!-- 今月の交通費一覧 -->
	<select id="currentTrafficList" parameterType="Long" resultMap="userWithTraffic">
	    SELECT USERS.id, USERS.name, TRAFFIC.trafficid, TRAFFIC.userid,
	           TRAFFIC.useday, TRAFFIC.means, TRAFFIC.secter, TRAFFIC.road, TRAFFIC.cost
	    FROM USERS 
	    LEFT JOIN TRAFFIC ON USERS.id = TRAFFIC.userid
	    WHERE USERS.id = #{id} AND YEAR(TRAFFIC.useday) = YEAR(CURDATE()) AND MONTH(TRAFFIC.useday) = MONTH(CURDATE());
	</select>
	
	<!-- 月ごとの交通費リスト -->
	<select id="monthlyTrafficList" parameterType="int" resultMap="userWithTraffic">
	    SELECT USERS.id, USERS.name, TRAFFIC.trafficid, TRAFFIC.userid, TRAFFIC.useday, TRAFFIC.means, TRAFFIC.secter, TRAFFIC.road, TRAFFIC.cost
	    FROM USERS 
	    LEFT JOIN TRAFFIC ON USERS.id = TRAFFIC.userid
	    WHERE USERS.id = #{id} AND YEAR(TRAFFIC.useday) = #{year} AND MONTH(TRAFFIC.useday) = #{month}
	</select>
 </mapper>